<!DOCTYPE html>
<html>
<head>
  <title>~ todo ~</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap.css', media: 'all','data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
  <div class="footer">
    <a href="http://willynogs.com">2016 Will Naugle</a>
  </div>
</div>
</body>
</html>
